[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/

packages/
*.nupkg
*.snupkg

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/

_ReSharper*/
*.DotSettings.user
.idea/

*.log
*.tmp
*.cache

Thumbs.db
.DS_Store
